* {
  padding: 0;
  margin: 0;
  --primary: rgb(162, 28, 175);
  --secondary: rgb(251, 189, 32);
  --text-primary: white;
  --text-secondary: black;
}

a {
  text-decoration: none;
}

body,
#root {
  height: 100vh;
  font-family: sans-serif;
}

.maincontainer {
  display: flex;
  height: 100vh;
}

.active {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--text-primary);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(241, 241, 241);
  overflow-y: auto;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.Hform {
  /* margin-top: 6.25rem; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  max-width: 378px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.forminput {
  position: relative;
  display: flex;
  flex-direction: column;
}

.forminput > input {
  padding: 5px;
  border: none;
  outline: none;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}
.formerror {
  font-size: small;
  color: red;
  position: absolute;
  bottom: -15px;
  /* padding-left: 8px; */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  padding: 10px;
  border: none;
  background-color: var(--secondary);
  border-radius: 5px;
}

.btn-submit {
  width: fit-content;
}

.btn-submit:hover {
  cursor: pointer;
}

.table_Wrapper {
  width: 98%;
  height: 95%;
}

.table_Wrapper > table {
  font-size: 15px;
  width: 100%;
  background-color: var(--text-primary);
  padding: 20px;
  border-radius: 10px;
  border-collapse: collapse;
}
.table_Wrapper > table > thead {
  text-align: left;
}
.table_Wrapper > table tr {
  border: solid 2px lightgray;
}
.table_Wrapper > table td,
.table_Wrapper > table th {
  padding: 10px;
}
.popup{
  position: fixed;
  inset: 0;
  background: rgba(16, 16, 16, 0.824); 
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 
}
.pops{
  
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0px 6px 5px rgba(0,0,0,0.3), -3px -3px 5px rgba(0,0,0,0.1);

}
.closepop{
 
  position: absolute;
  right: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none; size: 50px;
  top: 5px;
}