.avatar_wrapper {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
}
.avatar_img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: solid 1px var(--text-primary);
}

@media (max-width: 40rem) {
  .avatar_wrapper {
    min-width: 1.75rem;
    min-height: 1.75rem;
    max-width: 1.75rem;
    max-height: 1.75rem;
  }
}
