.Formwraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-color: rgb(241, 241, 241);
  overflow-y: auto;
}

.form {
  /* margin-top: 6.25rem; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  max-width: 378px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.forminput {
  position: relative;
  display: flex;
  flex-direction: column;
}

.forminput > input {
  padding: 5px;
  border: none;
  outline: none;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}
.formerror {
  font-size: small;
  color: red;
  position: absolute;
  bottom: -15px;
  /* padding-left: 8px; */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  padding: 10px;
  border: none;
  background-color: var(--secondary);
  border-radius: 5px;
}
